:root {                            /* variables para optimizar codigo (color, animaciones, etc.*/
  --color-bg: #0a0a0a;           /* negro muy oscuro para fondo de la barra */
  --color-text: #b0b0b0;         /* gris claro para texto estandard */
  --color-accent: #ffffff;       /* blanco para hover */
  --color-border: #333333;
  }

* {             /* Reset basico */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {          /* tipografia basica */
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #111;
  color: var(--color-text);
}

.site-header {
  position: fixed;               /* barra estatica segun se baja en la web */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);    /* sombreado para conseguir efecto de profundidad y contrastar mejor el resto */
}