* {
  box-sizing: border-box;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
}
.grid-item {
  background-color: lightsalmon;
  padding: 3rem;
}
.sub-item {
  background-color: rgb(253, 213, 197);
  padding: 1rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1 fr;
  grid-gap: 5px;
}
.grid-item.item-1 {
  grid-column: 1 / 4;
}
.grid-item.item-2 {
  grid-row: 2 / 4;
}
.grid-item.item-3 {
  grid-row: 2 / 4;
}
.grid-item.item-4 {
  grid-row: 2 / 4;
  align-self: end;
  height: 125px;
}
.grid-item.item-5 {
  grid-column: 1 / 4;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}