:root {
  --primary-color: #EA5D40;
  --second-color: #FCEEEB;
  --third-color: #752E20;
  --fourth-color: #2E120C;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--second-color); /* #FCEEEB; */
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
nav {
  background-color: var(--third-color); /* #752E20; */
  color: var(--second-color); /* #FCEEEB; */
}
nav#vertical { width: 20vw; }
nav ul {
   list-style-type: none;
  padding: 0;
  margin: 0;
  /* Afegir codi aquí: linees de TESTEO */
}
nav#horizontal ul {
  height: 3.5rem;
}
nav#vertical ul {
  /* Afegir codi aquí per l'EXTRA */
}
li {
  display: inline-block;
  height: 100%;
}
nav#horizontal li {
  display: inline-block; /* Muestra los elementos uno al lado del otro */
  margin-right: 10px; /* Añade espacio entre los elementos */
  /* Afegir codi aquí: linees de TESTEO */
}
nav#vertical li {
  width: 100%;
}
li:hover {
  cursor: pointer;
  background-color: var(--fourth-color); /* #2E120C; */
}
li#logo {
  padding: 10px;
  /* Afegir codi aquí: linees TESTEO */
}
li#logo:hover {
  background-color: var(--third-color); /* #752E20; */
}
a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;

  /* Afegir codi aquí */
}
span.material-icons {
  font-size: 2rem;
}
nav#horizontal li#logo img {
  max-width: 80%;
  max-height: 80%;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: flex-end;
}
