:root {
  --clr-header-footer: rgb(84,120,193);
  --clr-header-footer-text: #ffffff;
  --clr-section-bg: rgba(210,223,251, 0.8);
  --clr-section-text: rgb(73,105,169);
  --clr-hover-bg: rgb(10,15,24);
  --clr-hover-text: #ffffff;
  --clr-link-active: #000000;
}


html { font-size: 110%; box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #000; 
}

h3 { font-size: 1.3rem; }

header, footer {
  background: var(--clr-header-footer);
  color: var(--clr-header-footer-text);
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 1000px;
  margin: 1.25rem auto;
  padding: 0 1rem;
}

section {
  background: var(--clr-section-bg);
  color: var(--clr-section-text);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

article {
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  transition: background-color .18s ease, color .18s ease;
}