:root
p {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1.3rem;
}

header {
  background-color: rgb(84,120,193);
  color: white;
}

footer {
  background-color: rgb(84,120,193);
  color: white;
}