:root {
  --color-background-header-footer: rgb(84,120,193); 
  --color-background-section: rgba(210,223,251, 0.8);
  --color-backgorund-hover: rgb(10,15,24);
  --color-texto: white;
  --color-texto-link: black;
  --color-texto-section: rgb(73,105,169);
}

p {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1.3rem;
}

header {
  background-color: var(--color-background-header-footer);
  color: var(--color-texto);
}

footer {
  background-color: var(--color-background-header-footer);
  color: var(--color-texto);
}

section {
  background-color: var(--color-background-section);
  color: var(--color-texto-section);
}

section:first-of-type:hover {
  background-color: var(--color-backgorund-hover);
  color: var(--color-texto);
}

article:hover {
  background-color: var(--color-backgorund-hover);
  color: var(--color-texto);
}

article:last-of-type > p {
  font-style: Italic;
}

a:active {
  color: var(--color-texto-link);
}

.texto-en-negrita {
  font-weight: bold;
}