:root
p {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1.3rem;
}

header {
  background-color: rgb(84,120,193);
  color: white;
}

footer {
  background-color: rgb(84,120,193);
  color: white;
}

section {
  background-color: rgba(210,223,251, 0.8);
  color: rgb(73,105,169);
}

section:hover {
  background-color: rgb(10,15,24);
  color: white;
}

article:hover {
  background-color: rgb(10,15,24);
  color: white;
}

a:active {
  color: black;
}

.texto-en-negrita {
  font-weight: bold;
}